// Variables
// ---------
// Use the same color all over the place? Need to do
// some math with height and width and text size?
// Sass supports variables as well as basic math
// operations and many useful functions.
//
// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//
// Available variables:
// SASS:				http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
// Bourbon:				http://bourbon.io/docs/

// Colour variables

//$light_grey: lighten($grey, 20%);
//$dark_grey: darken($grey, 20%);

$light-grey: #CCCCCC;
$grey: #666666;
$dark-grey: #333333;
$bg-grey: #404040;

$web-inspire-color: #2C90A8;
$web-create-color: #EE5A56;
$open-web-color: #3DAADC;
$web-joy-worry-color: #67BD6E;
$my-web-idea-color: #DD456F;

// Layout variables

$max-width: 1280px;
$padding: 20px;